# Temel kütüphaneler
torch>=2.1.0
torchvision
torchaudio

# Hugging Face ekosistemi
transformers>=4.39.0
datasets
accelerate
bitsandbytes
peft>=0.10.0
sentencepiece
protobuf<5
tokenizers

# Görüntü işleme
Pillow
opencv-python

# Yardımcılar
tqdm
numpy
scipy

# Eğer veri dosyaları JSONL formatında ise
ujson
